#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border-radius: 15px;
  background-color: rgba(221, 160, 221, 0.644);
  box-shadow: 0 0 15px black;
  transition: 0.5s;
}

#Increment {
  color: black;
  background-color: rgba(0, 128, 0, 0.664);
  font-weight: 600;
}

#Decrement {
  color: black;
  background-color: rgba(255, 0, 0, 0.575);
  font-weight: 600;
}

#Reset {
  color: black;
  background-color: rgba(0, 0, 255, 0.651);
  font-weight: 600;
}

#Set {
  color: black;
  background-color: rgba(255, 255, 0, 0.555);
  font-weight: 600;
}

 .read-the-docs {
  color: #888;
} 
